<form class="dx3rd {{cssClass}} enemy-sheet" autocomplete="off">
  <div class="sheet-wrapper">
    <button style="display: none;">Input Button Click bypass</button>
    
    {{!-- Enemy Stat Section --}}
    <section class="sheet-stat">
      
      {{!-- Portrait --}}
      <div class="grid-img enemy-portrait-img">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="120"/>
      </div>

      {{!-- Row 1: Name & Evasion & Armor --}}
      <div class="grid-8 stat-grid enemy-row-name">
        <div class="stat-box enemy-name-box">
          <label class="title">{{localize "DX3rd.Name"}}</label>
          <div class="name-wrapper">
            <input class="name" type="text" name="name" value="{{actor.name}}" placeholder="Enemy Name">
          </div>
        </div>
        
        <div class="stat-box no-flex enemy-evasion-box">
          <label class="title">{{localize "DX3rd.Evasion"}}</label>
          <div class="stat-list flexrow">
            <input class="stat evasion-clickable" type="text" value="{{#if system.attributes.evasion.disabled}}-{{else}}{{system.attributes.evasion.value}}{{/if}}" readonly style="cursor: pointer;" title="클릭하여 수정"/>
          </div>
        </div>
        
        <div class="stat-box no-flex enemy-armor-box">
          <label class="title">{{localize "DX3rd.Armor"}}</label>
          <div class="stat-list flexrow">
            <input class="stat armor-clickable" type="text" value="{{system.attributes.armor.value}}" readonly style="cursor: pointer;" title="클릭하여 수정"/>
          </div>
        </div>
      </div>

      {{!-- Row 2: HP / 이동 / 행동치 --}}
      <div class="grid-8 stat-grid enemy-row-stats">
        <div class="stat-box">
          <label class="title">{{localize "DX3rd.HP"}}</label>
          <div class="stat-list flexrow">
            <input class="stat highlight" type="number" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-dtype="Number"/>
            <span class="divider">/</span>
            <input class="stat hp-max-clickable" type="text" value="{{system.attributes.hp.max}}" data-dtype="Number" readonly style="cursor: pointer;" title="클릭하여 수정"/>
          </div>
        </div>

        <div class="stat-box">
          <label class="title">{{localize "DX3rd.Move"}}</label>
          <div class="stat-list flexrow">
            <input class="stat move-battle-clickable" type="text" value="{{system.attributes.move.battle}}" readonly style="cursor: pointer;" title="클릭하여 수정"/>
            <span class="divider">/</span>
            <input class="stat" type="text" value="{{system.attributes.move.full}}" disabled>
          </div>
        </div>

        <div class="stat-box no-flex enemy-init-box">
          <label class="title">{{localize "DX3rd.Init"}}</label>
          <div class="stat-list flexrow">
            <input class="stat init-clickable" type="text" value="{{system.attributes.init.value}}" readonly style="cursor: pointer;" title="클릭하여 수정"/>
          </div>
        </div>
      </div>

      {{!-- Row 3: 능력치 --}}
      <div class="grid-8 main-grid margin-top-10 enemy-row-abilities">
        
        {{!-- 육체 --}}
        <div class="stat-box ability" data-ability-id="body">
          <div class="stat-header">
            <div class="title ability-roll">
              {{localize "DX3rd.Body"}}
            </div>
            <div class="stat-value-wrap">
              <div class="value-diamond-wrap">
                <div class="value">
                  <input class="stat" type="text" value="{{system.attributes.body.dice}}" disabled>
                </div>
                <div class="diamond">
                  <input class="total" type="text" value="{{system.attributes.body.total}}" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- 감각 --}}
        <div class="stat-box no-flex ability" data-ability-id="sense">
          <div class="stat-header">
            <div class="title ability-roll">
              {{localize "DX3rd.Sense"}}
            </div>
            <div class="stat-value-wrap">
              <div class="value-diamond-wrap">
                <div class="value">
                  <input class="stat" type="text" value="{{system.attributes.sense.dice}}" disabled>
                </div>
                <div class="diamond">
                  <input class="total" type="text" value="{{system.attributes.sense.total}}" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- 정신 --}}
        <div class="stat-box ability" data-ability-id="mind">
          <div class="stat-header">
            <div class="title ability-roll">
              {{localize "DX3rd.Mind"}}
            </div>
            <div class="stat-value-wrap">
              <div class="value-diamond-wrap">
                <div class="value">
                  <input class="stat" type="text" value="{{system.attributes.mind.dice}}" disabled>
                </div>
                <div class="diamond">
                  <input class="total" type="text" value="{{system.attributes.mind.total}}" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- 사회 --}}
        <div class="stat-box no-flex ability" data-ability-id="social">
          <div class="stat-header">
            <div class="title ability-roll">
              {{localize "DX3rd.Social"}}
            </div>
            <div class="stat-value-wrap">
              <div class="value-diamond-wrap">
                <div class="value">
                  <input class="stat" type="text" value="{{system.attributes.social.dice}}" disabled>
                </div>
                <div class="diamond">
                  <input class="total" type="text" value="{{system.attributes.social.total}}" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </section>

    {{!-- Tabs Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">{{localize "DX3rd.Description"}}</a>
      <a class="item" data-tab="combo">{{localize "DX3rd.Combo"}}</a>
      <a class="item" data-tab="effect">{{localize "DX3rd.Effect"}}</a>
      <a class="item" data-tab="applied">{{localize "DX3rd.Applied"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
      {{!-- Description Tab --}}
      <div class="tab description" data-group="primary" data-tab="description">
        <div class="description-wrapper">
          {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
      </div>

      {{!-- Combo Tab --}}
      <div class="tab combo" data-group="primary" data-tab="combo">
        <section class="sheet-attributes">

          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.Combo"}}</label>

              <div class="item-controls plus-addon">
                {{#if canEdit}}<button type="button" class="item-control item-create white-btn" data-type="combo" data-img="downgrade">
                  <i class="fas fa-plus"></i>
                </button>{{/if}}
              </div>
            </div>

            <ol class="items-list margin-top-10">
              {{#each actor.comboList as |item id|}}
                <li class="item flexrow {{#usedFullForCombo ../actor item}} titus {{/usedFullForCombo}} {{#if (isItemExhausted item ../actor)}}item-exhausted{{/if}}" data-item-id="{{item.id}}" draggable="true">
                  <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">{{item.name}}<br>
                      <span style="color : gray; font-size : 0.7em;">
                        {{localize "DX3rd.Timing"}} : {{timing item.system.timing}} / 
                        {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.system.skill}} / 
                        {{localize "DX3rd.Target"}} : {{item.system.target}} / 
                        {{localize "DX3rd.Range"}} : {{item.system.range}} /
                        {{localize "DX3rd.Encroach"}} : {{item.system.encroach.value}} /
                        {{localize "DX3rd.Limit"}} : {{item.system.limit}}

                        <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                      </span>
                    </span>
                  </h4>

                  <h4 class="item-addon">
                    <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                  </h4>
                  <div class="item-controls">
                    {{#if ../canEdit}}<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>{{/if}}
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="item-description">{{{item.system.description}}}
                  </div>
                </li>
              {{/each}}

            </ol>
          </div>

        </section>
      </div>

      {{!-- Effect Tab --}}
      <div class="tab effect" data-group="primary" data-tab="effect">
        <section class="sheet-attributes">


          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.Effect"}}</label>

              <div class="item-controls plus-addon">
                {{#if canEdit}}<button type="button" class="item-control item-create white-btn" data-type="effect" data-effect-type="normal" data-img="explosion">
                  <i class="fas fa-plus"></i>
                </button>{{/if}}
              </div>
            </div>

            <ol class="items-list margin-top-10">
              {{#each actor.effectList as |item id|}}
                <li class="item flexrow {{#usedFull item.system.used item.system.level.value}} titus {{/usedFull}} {{#if (isItemExhausted item ../actor)}}item-exhausted{{/if}}" data-item-id="{{item.id}}" draggable="true">
                  <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">[{{item.system.level.value}}] {{item.name}}<br>
                      <span style="color : gray; font-size : 0.7em;">
                        {{localize "DX3rd.Timing"}} : {{timing item.system.timing}} / 
                        {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.system.skill}} / 
                        {{localize "DX3rd.Target"}} : {{item.system.target}} / 
                        {{localize "DX3rd.Range"}} : {{item.system.range}} /
                        {{localize "DX3rd.Encroach"}} : {{item.system.encroach.value}} /
                        {{localize "DX3rd.Limit"}} : {{item.system.limit}}
                        <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                      </span>
                    </span>
                  </h4>

                  <h4 class="item-addon">
                    <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                    <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}> /
                    <input type="number" class="checkbox-input used-input" value="{{item.system.used.displayMax}}" disabled>
                  </h4>
                  <div class="item-controls">
                    {{#if ../canEdit}}<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>{{/if}}
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="item-description">{{{item.system.description}}}
                  </div>
                </li>
              {{/each}}

            </ol>
          </div>

          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.Easy"}} {{localize "DX3rd.Effect"}}</label>

              <div class="item-controls plus-addon">
                {{#if canEdit}}<button type="button" class="item-control item-create white-btn" data-type="effect" data-effect-type="easy" data-img="ice-aura">
                  <i class="fas fa-plus"></i>
                </button>{{/if}}
              </div>
            </div>

            <ol class="items-list margin-top-10">
              {{#each actor.easyEffectList as |item id|}}
                <li class="item flexrow {{#usedFull item.system.used item.system.level.value}} titus {{/usedFull}} {{#if (isItemExhausted item ../actor)}}item-exhausted{{/if}}" data-item-id="{{item.id}}" draggable="true">
                  <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">[{{item.system.level.value}}] {{item.name}}<br>
                      <span style="color : gray; font-size : 0.7em;">
                        {{localize "DX3rd.Timing"}} : {{timing item.system.timing}} / 
                        {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.system.skill}} / 
                        {{localize "DX3rd.Target"}} : {{item.system.target}} / 
                        {{localize "DX3rd.Range"}} : {{item.system.range}} /
                        {{localize "DX3rd.Encroach"}} : {{item.system.encroach.value}} /
                        {{localize "DX3rd.Limit"}} : {{item.system.limit}}
                        <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                      </span>
                    </span>
                  </h4>

                  <h4 class="item-addon">
                    <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                    <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}> /
                    <input type="number" class="checkbox-input used-input" value="{{item.system.used.displayMax}}" disabled>
                  </h4>
                  <div class="item-controls">
                    {{#if ../canEdit}}<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>{{/if}}
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="item-description">{{{item.system.description}}}
                  </div>
                </li>
              {{/each}}

            </ol>
          </div>

          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.ExtraData"}}</label>

              <div class="item-controls plus-addon">
                {{#if canEdit}}<button type="button" class="item-control item-create white-btn" data-type="effect" data-effect-type="extra" data-img="card-hand">
                  <i class="fas fa-plus"></i>
                </button>{{/if}}
              </div>
            </div>

            <ol class="items-list margin-top-10">
              {{#each actor.extraEffectList as |item id|}}
                <li class="item flexrow {{#usedFull item.system.used item.system.level.value}} titus {{/usedFull}} {{#if (isItemExhausted item ../actor)}}item-exhausted{{/if}}" data-item-id="{{item.id}}" draggable="true">
                  <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">[{{item.system.level.value}}] {{item.name}}<br>
                      <span style="color : gray; font-size : 0.7em;">
                        {{localize "DX3rd.Timing"}} : {{timing item.system.timing}} / 
                        {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.system.skill}} / 
                        {{localize "DX3rd.Target"}} : {{item.system.target}} / 
                        {{localize "DX3rd.Range"}} : {{item.system.range}} /
                        {{localize "DX3rd.Encroach"}} : {{item.system.encroach.value}} /
                        {{localize "DX3rd.Limit"}} : {{item.system.limit}}
                        <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                      </span>
                    </span>
                  </h4>

                  <h4 class="item-addon">
                    <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                    <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}> /
                    <input type="number" class="checkbox-input used-input" value="{{item.system.used.displayMax}}" disabled>
                  </h4>
                  <div class="item-controls">
                    {{#if ../canEdit}}<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>{{/if}}
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="item-description">{{{item.system.description}}}
                  </div>
                </li>
              {{/each}}

            </ol>
          </div>

        </section>
      </div>

      {{!-- Applied Tab --}}
      <div class="tab applied" data-group="primary" data-tab="applied">
        <section class="sheet-attributes">

          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.Applied"}}</label>
            </div>

            <ol class="items-list margin-top-10">
              {{#each actor.applied as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}" draggable="false">
                  <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">{{item.name}}<br>
                      <span style="color : gray; font-size : 0.7em;">
                        {{localize "DX3rd.DisableTiming"}} : {{disable item.disable}}
                        <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                      </span>
                    </span>
                    </span>
                  </h4>

                  <h4 class="item-addon">
                    <button type="button" class="show-applied" style="width: auto"><i class="fas fa-eye"></i></button>
                    <button type="button" class="remove-applied" style="width: auto"><i class="fas fa-trash"></i></button>
                  </h4>
                  <div class="item-description">{{{item.system.description}}}
                  </div>
                </li>
              {{/each}}

            </ol>
          </div>

          {{!-- Condition Section --}}
          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.Condition"}}</label>
            </div>
          </div>
          
          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Poisoned"}}</span>
              <input type="checkbox" class="cell--crit" id="poisoned-checkbox" name="system.conditions.poisoned.active" {{#if system.conditions.poisoned.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <input type="text" name="system.conditions.poisoned.value" value="{{#if system.conditions.poisoned.active}}{{system.conditions.poisoned.value}}{{/if}}"
            {{#unless system.conditions.poisoned.active}} disabled {{/unless}}>
          </div>
          
          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Hatred"}}</span>
              <input type="checkbox" class="cell--crit" id="hatred-checkbox" name="system.conditions.hatred.active" {{#if system.conditions.hatred.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <input type="text" name="system.conditions.hatred.target" value="{{#if system.conditions.hatred.active}}{{system.conditions.hatred.target}}{{/if}}"
            {{#unless system.conditions.hatred.active}} disabled {{/unless}}>
          </div>
          
          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Fear"}}</span>
              <input type="checkbox" class="cell--crit" id="fear-checkbox" name="system.conditions.fear.active" {{#if system.conditions.fear.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <input type="text" name="system.conditions.fear.target" value="{{#if system.conditions.fear.active}}{{system.conditions.fear.target}}{{/if}}"
            {{#unless system.conditions.fear.active}} disabled {{/unless}}>
          </div>
          
          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Berserk"}}</span>
              <input type="checkbox" class="cell--crit" id="berserk-checkbox" name="system.conditions.berserk.active" {{#if system.conditions.berserk.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <select name="system.conditions.berserk.type" data-dtype="String"
            {{#unless system.conditions.berserk.active}} disabled {{/unless}}>
              {{#if system.conditions.berserk.active}}
                {{#select system.conditions.berserk.type}}
                  <option value="-">-</option>
                  <option value="normal">{{localize "DX3rd.Normal"}}</option>
                  <option value="release">{{localize "DX3rd.UrgeRelease"}}</option>
                  <option value="hunger">{{localize "DX3rd.UrgeHunger"}}</option>
                  <option value="bloodsucking">{{localize "DX3rd.UrgeBloodsucking"}}</option>
                  <option value="slaughter">{{localize "DX3rd.UrgeSlaughter"}}</option>
                  <option value="destruction">{{localize "DX3rd.UrgeDestruction"}}</option>
                  <option value="tourture">{{localize "DX3rd.UrgeTourture"}}</option>
                  <option value="distaste">{{localize "DX3rd.UrgeDistaste"}}</option>
                  <option value="battlelust">{{localize "DX3rd.UrgeBattlelust"}}</option>
                  <option value="delusion">{{localize "DX3rd.UrgeDelusion"}}</option>
                  <option value="selfmutilation">{{localize "DX3rd.UrgeSelfmutilation"}}</option>
                  <option value="fear">{{localize "DX3rd.UrgeFear"}}</option>
                  <option value="hatred">{{localize "DX3rd.UrgeHatred"}}</option>
                {{/select}}
              {{else}}
                <option value="-" selected>-</option>
                <option value="normal">{{localize "DX3rd.Normal"}}</option>
                <option value="release">{{localize "DX3rd.UrgeRelease"}}</option>
                <option value="hunger">{{localize "DX3rd.UrgeHunger"}}</option>
                <option value="bloodsucking">{{localize "DX3rd.UrgeBloodsucking"}}</option>
                <option value="slaughter">{{localize "DX3rd.UrgeSlaughter"}}</option>
                <option value="destruction">{{localize "DX3rd.UrgeDestruction"}}</option>
                <option value="tourture">{{localize "DX3rd.UrgeTourture"}}</option>
                <option value="distaste">{{localize "DX3rd.UrgeDistaste"}}</option>
                <option value="battlelust">{{localize "DX3rd.UrgeBattlelust"}}</option>
                <option value="delusion">{{localize "DX3rd.UrgeDelusion"}}</option>
                <option value="selfmutilation">{{localize "DX3rd.UrgeSelfmutilation"}}</option>
                <option value="fear">{{localize "DX3rd.UrgeFear"}}</option>
                <option value="hatred">{{localize "DX3rd.UrgeHatred"}}</option>
              {{/if}}
            </select>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Rigor"}}</span>
              <input type="checkbox" class="cell--crit" id="rigor-checkbox" name="system.conditions.rigor.active" {{#if system.conditions.rigor.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Pressure"}}</span>
              <input type="checkbox" class="cell--crit" id="pressure-checkbox" name="system.conditions.pressure.active" {{#if system.conditions.pressure.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Dazed"}}</span>
              <input type="checkbox" class="cell--crit" id="dazed-checkbox" name="system.conditions.dazed.active" {{#if system.conditions.dazed.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>

          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.Etc"}}</label>
            </div>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Boarding"}}</span>
              <input type="checkbox" class="cell--crit" id="boarding-checkbox" name="system.conditions.boarding.active" {{#if system.conditions.boarding.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Stealth"}}</span>
              <input type="checkbox" class="cell--crit" id="stealth-checkbox" name="system.conditions.stealth.active" {{#if system.conditions.stealth.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Fly"}}</span>
              <input type="checkbox" class="cell--crit" id="fly-checkbox" name="system.conditions.fly.active" {{#if system.conditions.fly.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>

          <div></div>

          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.LostHP"}}</span>
              <input type="checkbox" class="cell--crit" id="lostHP-checkbox" name="system.conditions.lostHP.active" {{#if system.conditions.lostHP.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <input type="text" id="lostHP-value" name="system.conditions.lostHP.value" value="{{#if system.conditions.lostHP.active}}{{system.conditions.lostHP.value}}{{/if}}"
                {{#unless system.conditions.lostHP.active}} disabled {{/unless}}>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Healing"}}</span>
              <input type="checkbox" class="cell--crit" id="healing-checkbox" name="system.conditions.healing.active" {{#if system.conditions.healing.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <input type="text" id="healing-value" name="system.conditions.healing.value" value="{{#if system.conditions.healing.active}}{{system.conditions.healing.value}}{{/if}}"
                {{#unless system.conditions.healing.active}} disabled {{/unless}}>
          </div>

          <div></div>

          <div></div>

          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.BattleStatus"}}</label>
            </div>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Defeated"}}</span>
              <input type="checkbox" class="cell--crit" id="defeated-checkbox" name="system.conditions.defeated.active" {{#if system.conditions.defeated.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>
          
          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.ActionEnd"}}</span>
              <input type="checkbox" class="cell--crit" id="action-end-checkbox" name="system.conditions.action_end.active" {{#if system.conditions.action_end.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
          </div>
          
          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.ActionDelay"}}</span>
              <input type="checkbox" class="cell--crit" id="action-delay-checkbox" name="system.conditions.action_delay.active" {{#if system.conditions.action_delay.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <input type="text" id="action-delay-value" name="system.conditions.action_delay.value" value="{{#if system.conditions.action_delay.active}}{{system.conditions.action_delay.value}}{{/if}}"
                {{#unless system.conditions.action_delay.active}} disabled {{/unless}}>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.ExtraTurn"}}</span>
              <input type="checkbox" class="cell--crit" id="extra-turn-checkbox" name="system.conditions.extra-turn.active" {{#if system.conditions.extra-turn.active}} checked {{/if}} data-dtype="Boolean"/>
            </label>
            <div style="display: flex; align-items: center; gap: 4px;">
              <input type="text" id="extra-turn-value" name="system.conditions.extra-turn.value" value="{{#if system.conditions.extra-turn.active}}{{system.conditions.extra-turn.value}}{{/if}}"
                  {{#unless system.conditions.extra-turn.active}} disabled {{/unless}} style="flex: 1; text-align: center;">
              <span style="font-weight: bold;">/</span>
              <input type="text" id="extra-turn-max" name="system.conditions.extra-turn.max" value="{{#if system.conditions.extra-turn.active}}{{system.conditions.extra-turn.max}}{{/if}}"
                  {{#unless system.conditions.extra-turn.active}} disabled {{/unless}} style="flex: 1; text-align: center;">
            </div>
          </div>

          {{!-- Detailed Attributes Section --}}
          <div class="cell grid-full">
            <div class="cell--title">
              <label>{{localize "DX3rd.DetailedAttributes"}}</label>
            </div>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.MeleeAttack"}}</span>
            </label>
            <input type="text" value="{{add system.attributes.attack.value system.attributes.attack.melee}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.RangedAttack"}}</span>
            </label>
            <input type="text" value="{{add system.attributes.attack.value system.attributes.attack.ranged}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.MeleeDamageRoll"}}</span>
            </label>
            <input type="text" value="{{add system.attributes.damage_roll.value system.attributes.damage_roll.melee}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.RangedDamageRoll"}}</span>
            </label>
            <input type="text" value="{{add system.attributes.damage_roll.value system.attributes.damage_roll.ranged}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Armor"}}</span>
            </label>
            <input type="text" value="{{system.attributes.armor.value}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Guard"}}</span>
            </label>
            <input type="text" value="{{system.attributes.guard.value}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Penetrate"}}</span>
            </label>
            <input type="text" value="{{system.attributes.penetrate.value}}" disabled>
          </div>

          <div class="cell grid-4 no-flex">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Reduce"}}</span>
            </label>
            <input type="text" value="{{system.attributes.reduce.value}}" disabled>
          </div>

        </section>
      </div>

    </section>
  </div>
</form>
