<div class="active-item-sheet-v2-content">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}">
    <div class="header-fields flexrow"><h1 class="charname"><input name="name" value="{{item.name}}"></h1></div>
  </header>
  <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
    <a class="item {{tabs.description.cssClass}}" data-action="tab" data-group="primary" data-tab="description">{{localize "DX3rd.Description"}}</a>
    <a class="item {{tabs.immediate.cssClass}}" data-action="tab" data-group="primary" data-tab="immediate">{{localize "DX3rd.ImmediateEffects"}}</a>
    <a class="item {{tabs.persistent.cssClass}}" data-action="tab" data-group="primary" data-tab="persistent">{{localize "DX3rd.PersistentEffects"}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
      <div class="sheet-wrapper margin-top-10">
        <section class="sheet-attributes">
          {{#if isProtect}}
          <div class="cell grid-5"><label class="cell--title">{{localize "DX3rd.Dodge"}}</label><input name="system.dodge" value="{{system.dodge}}"></div>
          <div class="cell grid-5"><label class="cell--title">{{localize "DX3rd.Init"}}</label><input name="system.init" value="{{system.init}}"></div>
          <div class="cell grid-6"><label class="cell--title">{{localize "DX3rd.Armor"}}</label><input name="system.armor" value="{{system.armor}}"></div>
          {{else if isVehicle}}
          <div class="cell grid-8"><label class="cell--title">{{localize "DX3rd.Skill"}}</label><select name="system.skill">{{#select system.skill}}{{#each system.skillOptions as |option|}}<option value="{{option.value}}">{{localize option.label}}</option>{{/each}}{{/select}}</select></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Attack"}}</label><input name="system.attack" value="{{system.attack}}"></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Init"}}</label><input name="system.init" value="{{system.init}}"></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Armor"}}</label><input name="system.armor" value="{{system.armor}}"></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Move"}}</label><input name="system.move" value="{{system.move}}"></div>
          {{else if isWeapon}}
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.EquipType"}}</label><select name="system.type">{{#select system.type}}<option value="-">-</option><option value="melee">{{localize "DX3rd.melee"}}</option><option value="ranged">{{localize "DX3rd.ranged"}}</option>{{/select}}</select></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Skill"}}</label><select name="system.skill">{{#select system.skill}}{{#each system.skillOptions as |option|}}<option value="{{option.value}}">{{localize option.label}}</option>{{/each}}{{/select}}</select></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Add"}}</label><input name="system.add" value="{{system.add}}"></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Attack"}}</label><input name="system.attack" value="{{system.attack}}"></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Guard"}}</label><input name="system.guard" value="{{system.guard}}"></div>
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Range"}}</label><input name="system.range" value="{{system.range}}"></div>
          {{else}}
          <div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.EquipType"}}</label><input value="{{localize displayType}}" readonly></div>
          {{#if isOnce}}<div class="cell grid-4"><label class="cell--title">{{localize "DX3rd.Quantity"}}</label><input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="1"></div>{{/if}}
          {{/if}}
          <div class="cell {{#if isProtect}}grid-8{{else}}grid-4{{/if}}"><label class="cell--title">{{localize "DX3rd.SellSaving"}}</label><div class="flex"><input name="system.saving.difficulty" value="{{system.saving.difficulty}}"><span class="slash"> / </span><input type="text" name="system.saving.value" value="{{system.saving.value}}" data-dtype="String"></div></div>
          <div class="cell {{#if isProtect}}grid-8{{else}}grid-4{{/if}}"><label class="cell--title">{{localize "DX3rd.EXP"}}</label><input type="number" name="system.exp" value="{{system.exp}}" data-dtype="Number" min="0"></div>
        </section>
        <div class="cell cell--bio"><label class="cell--title">{{localize "DX3rd.Description"}}{{#if isEquipment}}<span class="checkbox-addon flexrow"><span>{{localize "DX3rd.Equipment"}}</span><input type="checkbox" name="system.equipment" {{checked system.equipment}}></span>{{/if}}</label><prose-mirror name="system.description" value="{{system.description}}" data-document-uuid="{{item.uuid}}" relative toggled>{{{enrichedDescription}}}</prose-mirror></div>
      </div>
    </div>
    <div class="tab {{tabs.immediate.cssClass}}" data-group="primary" data-tab="immediate">{{> "systems/dx3rd-emanim/templates/item/parts/immediate-effects-v2.html"}}</div>
    <div class="tab {{tabs.persistent.cssClass}}" data-group="primary" data-tab="persistent">{{> "systems/dx3rd-emanim/templates/item/parts/persistent-effects-v2.html"}}</div>
  </section>
</div>
